
body {
  padding: 0;
  margin: 0;
  font: 16px Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #000;
  color: white;
}

#menu{
  padding: 15px;
  z-index: 10000;
  visibility: visible;
  width: 25%;
  /*text-align: left;*/
  letter-spacing: 0.15rem;
  color: #fff;
  /*margin: 1%;*/
  font-weight: 100;
  position: absolute;
  font-size:0.75rem;
  background-color: black;
}

button{
  padding: 10px;
  z-index: 10000;
  visibility: visible;
  /*width: 25%;*/
  text-align: left;
  letter-spacing: 0.15rem;
  color: #fff;
  margin: 1%;
  font-weight: 100;
  position: absolute;
  font-size:0.75rem;
}

.dropdown-menu{
  background-color: black;
}

.btn-group{
  background-color: black;
}

a:hover{
  color: #ffff66;
}

.instructions:hover{
  color: #ffff66;
}

.instructions{
  z-index: 10000;
  visibility: visible;
  /*width: 25%;*/
  /*text-align: left;*/
  letter-spacing: 0.15rem;
  color: #fff;
  /*margin: 1%;*/
  font-weight: 100;
  /*position: absolute;*/
  font-size:0.75rem;
  background-color: black;
  border: 1px solid black;
}

p{
  z-index: 10000;
  visibility: visible;
  /*width: 25%;*/
  /*text-align: left;*/
  letter-spacing: 0.15rem;
  color: #fff;
  /*margin: 1%;*/
  font-weight: 100;
  /*position: absolute;*/
  font-size:0.75rem;
  /*border: 1px solid white;*/
}

.col-md-4{
  z-index: 10000;
  visibility: visible;
  /*width: 25%;*/
  text-align: left;
  letter-spacing: 0.15rem;
  color: #fff;
  /*margin: 1%;*/
  font-weight: 100;
  /*position: absolute;*/
  font-size:0.75rem;
  border: 1px solid white;
}

#footer{
  z-index: 10000;
  visibility: visible;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#planet-info{
  z-index: 10000;
  visibility: visible;
  position: absolute;
  right: 100px;
  top: 150px;
  padding: 15px;
  text-align: center;
  border: 1px solid white;
}
